/*
 * COLORS
 */
@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: -webkit-linear-gradient(right, #834d9b, #d04ed6);
  background: linear-gradient(to left, #834d9b, #d04ed6);
}

.flex-flash-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards {
  background: white;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(25% - 20px);
          flex: 0 1 calc(25% - 20px);
  height: 125px;
  overflow: auto;
  margin: 10px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.cards:hover {
  background: rgba(0, 0, 0, 0.2);
}

.cards:hover > * {
  color: navajowhite;
}

.cards > p {
  margin: 0;
  color: #555;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.card-plus {
  background: white;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(25% - 20px);
          flex: 0 1 calc(25% - 20px);
  height: 125px;
  overflow: auto;
  margin: 10px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.card-plus:hover {
  background: rgba(0, 0, 0, 0.2);
}

.card-plus:hover > * {
  color: navajowhite;
}

.card-plus > img {
  background: #555;
  border-radius: 50%;
}

.modal-component {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-component > div {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 320px;
          flex: 0 1 320px;
  background: white;
}

.modal-component > div header {
  background: #9C27B0;
  color: white;
}

.modal-component > div header h2 {
  margin: 0;
  padding: 15px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.modal-component > div form {
  padding: 10px;
}

.modal-component > div form input {
  margin: 10px 0;
}

.modal-component > div form input[type="text"] {
  padding: 10px;
  width: 100%;
}

.modal-component > div form > .flex-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-component > div form > .flex-modal button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #333;
  padding: 10px;
  border: 0;
  cursor: pointer;
}

.modal-component > div form > .flex-modal button:first-child {
  background: #F3E5F5;
  margin-right: 2px;
}

.modal-component > div form > .flex-modal button:last-child {
  background: #AB47BC;
}
