/*
 * COLORS
 */

// BODY
$body-bg-1                : #834d9b;
$body-bg-2                : #d04ed6;

// MODAL
$modal-bg                 : rgba(#000, .4);
$modal-card-bg            : white;
$modal-card-header-bg     : #9C27B0;
$modal-card-btn-1         : #F3E5F5;
$modal-card-btn-2         : #AB47BC;
$modal-card-btn-color     : #333;